h1 {
  position: relative;
  padding: 1rem 2rem;
  border: 4px solid #000;
}

.red {
	height: 300px;
	background-color: red;
}
.blue {
	height: 300px;
	background-color: blue;
}

body {
  background-color: #f6b894;
}

*{
cursor: url(nc.png),auto;
}

body {
  font-family: 'Hiragino Kaku Gothic Pro', 'Comic Sans MS', sans-serif;
}
